{% extends 'representation/base.html' %}

{% block title %}
    Добавление вкладчика
{% endblock %}

{% block content %}
    {% if form.instance.id%}
        <form action="{% url 'representation:investor:edit' form.instance.id %}" method="post">
    {% else %}
        <form action="{% url 'representation:investor:add' %}" method="post">
    {% endif %}

        {% csrf_token %}
        {{ form.as_p }}
        {% if form.instance.id %}
            <input type="submit" value="Сохранить">
        {% else %}
            <input type="submit" value="Добавить">
        {% endif %}

    </form>
{% endblock %}