{% extends 'representation/base.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-3 sidebar">
          <ul class="nav nav-pills nav-stacked">
            <li class="active"><a href="{% url 'representation:index' %}">Мои Карты</a></li>
            <li><a href="{% url 'representation:add' %}">Добавить</a></li>
          </ul>
        </div>

        <div class="col-md-9 content">
            <form method="get" style="margin-bottom: 10px">
                <input name="search" type="text" style="width: 80%;" value="{{ search }}">
                <input type="submit" value="поиск">
            </form>
            <form action="{% url 'representation:delete' %}" method="post">
                {% csrf_token %}
                <table class="table table-hover" style="border-left: 1px solid #eee">
                    <thead>
                    <th>Банк</th>
                    <th>Фамилия</th>
                    <th>Имя</th>
                    <th>Отчество</th>
                    <th>Номер карты</th>
                    <th>Пин</th>
                    <th>Баланс</th>
                    <th>Доступность</th>
                    <th>Удалить?</th>
                    </thead>

                        <tbody>
                            {% for bank_card in bank_cards %}
                                <tr>
                                    <td><a href="{% url 'representation:edit' bank_card.id %}">{{ bank_card.bank_name }}</a></td>
                                    <td>{{ bank_card.surname }}</td>
                                    <td>{{ bank_card.name }}</td>
                                    <td>{{ bank_card.middle_name }}</td>
                                    <td>{{ bank_card.number }}</td>
                                    <td>{{ bank_card.pin_code }}</td>
                                    <td>{{ bank_card.balance }}</td>
                                    <td>
                                        {% if bank_card.availability %}
                                            Доступна
                                        {% else %}
                                            Не доступна
                                        {% endif %}
                                    </td>
                                    <td><input type="checkbox" name="delete_{{ bank_card.id }}"></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                </table>
                <input type="submit" value="Удалить" class="col-md-offset-11">
            </form>
        </div>
    </div>
{% endblock %}

{% block style %}
    <style>
        .sidebar {
            bottom: 0;
            left: 0;
            display: block;
            padding: 20px;
            overflow-x: hidden;
            overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        }
    </style>

{% endblock %}